@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}

body {
 text-align: center;
 padding: 70px 0;
}

.app {
  padding: 70px 0;
  height: 100%;
  width: 100%
}

.title-bar{
  font-size: 25px;
  background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.display{
  color: #00BFFF;
  font-family: digital;
  font-size: 2em;
  height: 30px;
  position: relative;
  overflow: hidden;
  background-color: black;
  border-style: inset;
  border-color: #404040;
  opacity: 0.6;
  margin: 20px;
  padding: 5px;
}

.display span{
    color: #00BFFF;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 30px;
    text-align: center;
}


.drum-machine {
  background-color: #202020;
  margin: auto;
  width: 400px;
  padding: 40px;
  border-radius: 10px;
  border-color: #FF8C00;
  border-width: 5px;
  border-style: inset;
}

.button-container {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
}

.drum-pad{
  color: #404040;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-self: center;
  border-color: #FF8C00;
  font-size: 25px;
  padding: 10px;
  background-color:  #202020;
  border-width: medium;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.drum-pad:active{
  background-color:  orange;
}

audio {
  display: none;
}

